<div>
    <h3 class="section-title">
        1. IDENTIFICAÇÃO E CONDIÇÕES DE MEDIÇÃO
    </h3>

    <table class="info-table">
        <tr>
            <td class="info-label">Cliente / Projeto</td>
            <td class="info-value">{{NOME_CLIENTE}}</td>
        </tr>
        <tr>
            <td class="info-label">Componente avaliado</td>
            <td class="info-value">{{COMPONENTE_NOME}}</td>
        </tr>
        <tr>
            <td class="info-label">Identificação no relatório CALYPSO</td>
            <td class="info-value">{{IDENTIFICACAO_CALYPSO}}</td>
        </tr>
        <tr>
            <td class="info-label">Máquina de medição</td>
            <td class="info-value">{{NOME_MMC}}</td>
        </tr>
        <tr>
            <td class="info-label">Número da MMC</td>
            <td class="info-value">{{NUMERO_MMC}}</td>
        </tr>
        <tr>
            <td class="info-label">Software</td>
            <td class="info-value">{{SOFTWARE}}</td>
        </tr>
        <tr>
            <td class="info-label">Operador</td>
            <td class="info-value">{{OPERADOR}}</td>
        </tr>
        <tr>
            <td class="info-label">Data/Hora da medição</td>
            <td class="info-value">{{DATA_HORA_MEDIÇÃO}}</td>
        </tr>
        <tr>
            <td class="info-label">Quantidade de características</td>
            <td class="info-value">{{QTD_CARACTERISTICAS}}</td>
        </tr>
    </table>
</div>
