<div>
    <h3 class="section-title">
        2. RESULTADOS DIMENSIONAIS
    </h3>
    <span>A tabela abaixo apresenta os resultados extraídos do relatório de medição dimensional. A classificação
        “Dentro”
        ou “Fora” foi determinada com base nos limites cadastrados no relatório ZEISS CALYPSO.</span>
    <table class="results-table">
        <tr>
            <th>Característica</th>
            <th>Valor medido</th>
            <th>Nominal</th>
            <th>Tol. +</th>
            <th>Tol. -</th>
            <th>Desvio</th>
            <th>Status</th>
        </tr>
        {{DADOS_MEDICOES}}
    </table>
    {{RESUMO_DIMENSIONAL}}
</div>