<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Relatório Técnico</title>
    <link rel="stylesheet" type="text/css" href="{{CSS_PATH}}"/>
</head>
<body>
<div class="header">
    <table class="header-table">
        <tr>
            <td style="width: 25%; text-align: left;">
                <img src="{{LOGO_CEM}}" class="logo-img" alt="Logo SENAI ZEISS"/>
            </td>
            <td class="header-title" style="width: 50%;">
                RELATÓRIO TÉCNICO<br/>
                <span style="font-size: 9pt; font-weight: normal;">{{TITULO}}</span>
            </td>
            <td style="width: 25%; text-align: right;">
                <img src="{{LOGO_SENAI}}" class="logo-img" alt="Logo SENAI"/>
            </td>
        </tr>
    </table>
</div>

<div class="footer">
    <table class="footer-table">
        <tr>
            <td style="text-align: left;">CEM SENAI | ZEISS • Goiânia - GO • Uso restrito ao cliente</td>
            <td style="text-align: right;" class="page-number"></td>
        </tr>
    </table>
</div>

{{CONTEUDO_SECOES}}
</body>
</html>